.footer {
	background-color: var(--bg-footer-color);
	padding: 1.875rem 0;
	// .footer__container
	&__container {
		display: flex;
		justify-content: space-between;
		gap: 0.9375rem;
		line-height: 1.28; /* 18/14 */
		color: var(--second-light-color);
	}

	// .footer__text
	&__text {
		text-transform: uppercase;
		font-weight: 700;
	}

	// .footer__up
	&__up {
		&:hover {
			text-decoration: underline;
			transition: all 0.3s ease-in-out;
		}
	}
}
